.navbar-fixed-left{
background:#f1f1f1 !important;
border:1px solid #f1f1f1;
}
#email_fetch_template {
padding: 8px;
border: 1px solid;
border-color: green;
border-radius: 6px;
}
    
.xs_scroll{
 overflow: auto;   
}
@media only screen and (min-width: 280px) and (max-width: 767px){
.nav>li {
    position: relative;
    display: -webkit-inline-box;
}
div#notification {
    top: 2px;
    font-size: 17px;
}
ul.nav.navbar {
    margin-top: 65px;
}
.navbar-nav .open .dropdown-menu {
    position: absolute;
    float: none;
}
.cs-drp-menu:before {
    left: 1.2%;
}
.cs-drp-menu:after {
    left: 2.2%;
}
.navbar-nav .open .dropdown-menu {
    box-shadow: 1px 1px 20px #959595;
}
}
